/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/fixtures export-ignore
/tests export-ignore
/blackbox.php export-ignore
/.php-cs-fixer.dist.php export-ignore
/psalm.xml export-ignore
/dependencies.svg export-ignore
/innmind.svg export-ignore
/innmind_cli_dependencies.svg export-ignore
/innmind_cli_dependents.svg export-ignore
